version: '3'

services:
  entratix-db-nextjs:
    image: postgres:18.1
    container_name: postgres-entratix
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./db:/var/lib/postgresql
